In [75]:
import pyrfume as pf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

In [43]:

    
def extract_csv_files(ds_name):
    try:
        manifest = pf.load_manifest(ds_name)
    except:
        print(f"Could not load manifest for {ds_name}")
        return None
    csv_files = {}
    for file in manifest['processed']:
        # print(file)
        if file.endswith('.csv'):
            try:
                csv_files[file.split('.')[0]] = pf.load_data(ds_name + '/' + file)
            except:
                print(f"Could not load {file}")
    return csv_files

In [51]:
datasets = ["aromadb",
"bushdid_2014",
"dravnieks_1985",
"flavordb",
"flavornet",
"foodb",
"freesolve",
"ifra_2019",
"keller_2012",
"keller_2016",
"manoel_2021",
"nakayama_2022",
"nat_geo_1986",
"nhanes_2014",
"ravia_2020",
"sharma_2021b",
"sigma_2014",
"snitz_2013",
"snitz_2019",
"weiss_2012"]

In [55]:
csv_files = {}
for ds in datasets:
    csv_files[ds] = extract_csv_files(ds)

In [76]:
for ds in datasets:
    csv_files_keys = csv_files[ds].keys()
    for key in csv_files_keys:
        # print(f"{ds}: {key}")
        print(csv_files[ds][key].head())

     MolecularWeight         IsomericSMILES                    IUPACName  \
CID
49            116.11       CC(C)C(=O)C(=O)O  3-methyl-2-oxobutanoic acid
107           150.17  C1=CC=C(C=C1)CCC(=O)O       3-phenylpropanoic acid
126           122.12      C1=CC(=CC=C1C=O)O        4-hydroxybenzaldehyde
176            60.05                CC(=O)O                  acetic acid
177            44.05                   CC=O                 acetaldehyde

                            name
CID
49   3-methyl-2-oxobutanoic acid
107           hydrocinnamic acid
126        4-hydroxybenzaldehyde
176                  acetic acid
177                 acetaldehyde
         Raw Descriptors Filtered Descriptors Modifiers
Stimulus
49        fruity aroma??               fruity       NaN
107             balsamic             balsamic       NaN
126          nutty aroma                nutty       NaN
176                 sour                 sour       NaN
177             ethereal             ethereal       NaN
          CID
Stimulus
49         49
107       107
126       126
176       176
177       177
     MolecularWeight    IsomericSMILES             IUPACName          name  \
CID
176            60.05           CC(=O)O           acetic acid   acetic acid
177            44.05              CC=O          acetaldehyde  acetaldehyde
179            88.11       CC(C(=O)C)O  3-hydroxybutan-2-one       acetoin
180            58.08           CC(=O)C          propan-2-one       acetone
240           106.12  C1=CC=C(C=C1)C=O          benzaldehyde  benzaldehyde

     Odorant name    C.A.S.  % odorant          Solvent
CID
176   acetic acid   64-19-7      10.00      mineral oil
177  acetaldehyde   75-07-0       5.00            water
179       acetoin  513-86-0       0.10  1,2-propanediol
180  propan-2-one   67-64-1      25.00            water
240  benzaldehyde  100-52-7       0.25      mineral oil
         Answer  Components in mixtures  Components that differ  \
Stimulus
1         right                      30                      30
1         wrong                      30                      30
1         wrong                      30                      30
2         right                      10                       4
2         wrong                      10                       4

          % mixture overlap  Stimulus dilution  Molecule 1  Molecule 2  \
Stimulus
1                       0.0               1.00       12232        7731
1                       0.0               0.25      440917     5281515
1                       0.0               0.50      440917     5281515
2                      60.0               0.50        3314       62433
2                      60.0               0.25        3314       62433

          Molecule 3  Molecule 4  Molecule 5  ...  Molecule 21  Molecule 22  \
Stimulus                                      ...
1               7888        7966        7848  ...         8103         7344
1               8030        3314       31272  ...         6561        22386
1               8030        3314       31272  ...         6561        22386
2            5281515        7749        6561  ...            0            0
2            5281515        7749        6561  ...            0            0

          Molecule 23  Molecule 24  Molecule 25  Molecule 26  Molecule 27  \
Stimulus
1                8051         7921          460         7583        11002
1               11509       443162         8797        16666         7749
1               11509       443162         8797        16666         7749
2                   0            0            0            0            0
2                   0            0            0            0            0

          Molecule 28  Molecule 29  Molecule 30
Stimulus
1               12367         6590         7991
1                7793         7799         7762
1                7793         7799         7762
2                   0            0            0
2                   0            0            0

[5 rows x 35 columns]
          Subject  Correct
Stimulus
1               1    False
1               2     True
1               3    False
1               4     True
1               5     True
     MolecularWeight            IsomericSMILES                  IUPACName  \
CID
240           106.12          C1=CC=C(C=C1)C=O               benzaldehyde
263            74.12                     CCCCO                 butan-1-ol
264            88.11                 CCCC(=O)O              butanoic acid
323           146.14  C1=CC=C2C(=C1)C=CC(=O)O2              chromen-2-one
326           148.20     CC(C)C1=CC=C(C=C1)C=O  4-propan-2-ylbenzaldehyde

                        name
CID
240             benzaldehyde
263                1-butanol
264             butyric acid
323                 coumarin
326  4-isopropylbenzaldehyde
                                CAS      CID  Conc                 Name
Stimulus
Abhexone_high              698-10-2  61199.0  high             Abhexone
Acetophenone_high           98-86-2   7410.0  high         Acetophenone
AcetylPyridine_high       1122-62-9  14286.0  high       AcetylPyridine
Adoxal_high                141-13-9  98403.0  high               Adoxal
AldehydeC-16highcon_high    77-83-8   6501.0  high  AldehydeC-16highcon
                          FRUITY,CITRUS  LEMON  GRAPEFRUIT  ORANGE  \
Stimulus
Abhexone_high                      0.00   0.00        0.00    0.00
Acetophenone_high                  1.57   0.52        0.26    0.41
AcetylPyridine_high                0.00   0.32        0.00    0.00
Adoxal_high                        5.00   3.66        1.09    3.95
AldehydeC-16highcon_high          10.15   3.39        0.00    6.39

                          FRUITY,OTHER THAN CITRUS  PINEAPPLE  GRAPE JUICE  \
Stimulus
Abhexone_high                                 0.66       0.00         0.33
Acetophenone_high                             8.29       0.52         1.26
AcetylPyridine_high                           0.45       0.00         0.00
Adoxal_high                                   3.53       3.27         0.00
AldehydeC-16highcon_high                     52.76       6.64        10.35

                          STRAWBERRY  APPLE, FRUIT  PEAR  ...  \
Stimulus                                                  ...
Abhexone_high                   0.00          0.47  0.00  ...
Acetophenone_high               1.74          0.00  1.02  ...
AcetylPyridine_high             1.24          0.00  0.00  ...
Adoxal_high                     0.77          0.39  1.44  ...
AldehydeC-16highcon_high       32.24          0.79  5.11  ...

                          PUTRID, FOUL, DECAYED  FECAL, LIKE MANURE  \
Stimulus
Abhexone_high                              1.87                0.33
Acetophenone_high                          1.63                0.58
AcetylPyridine_high                        6.26                1.01
Adoxal_high                                2.56                0.00
AldehydeC-16highcon_high                   0.35                0.00

                          CADAVEROUS  SICKENING  DRY, POWDERY  CHALKY  LIGHT  \
Stimulus
Abhexone_high                   0.47       7.44          4.19    0.00  13.83
Acetophenone_high               0.68      10.14          4.08    0.00  12.06
AcetylPyridine_high             1.46      13.18         11.31    2.58   4.18
Adoxal_high                     0.00      20.13          3.23    1.16  15.65
AldehydeC-16highcon_high        0.00       1.84          0.50    0.61  20.20

                          HEAVY  COOL,COOLING   WARM
Stimulus
Abhexone_high             17.58          2.58   8.17
Acetophenone_high         29.34          9.89  17.95
AcetylPyridine_high       23.51          0.00  13.79
Adoxal_high               12.77          5.45   9.90
AldehydeC-16highcon_high   5.11         11.56   4.26

[5 rows x 146 columns]
                          FRUITY,CITRUS  LEMON  GRAPEFRUIT  ORANGE  \
Stimulus
Abhexone_high                      0.00   0.00        0.00    0.00
Acetophenone_high                  2.34   0.67        0.34    0.67
AcetylPyridine_high                0.00   0.71        0.00    0.00
Adoxal_high                        6.90   5.17        1.72    6.03
AldehydeC-16highcon_high          15.08   5.56        0.00    9.52

                          FRUITY,OTHER THAN CITRUS  PINEAPPLE  GRAPE JUICE  \
Stimulus
Abhexone_high                                 1.48       0.00         0.74
Acetophenone_high                            11.71       1.00         2.01
AcetylPyridine_high                           0.71       0.00         0.00
Adoxal_high                                   5.17       5.17         0.00
AldehydeC-16highcon_high                     61.11      11.11        13.49

                          STRAWBERRY  APPLE, FRUIT  PEAR  ...  \
Stimulus                                                  ...
Abhexone_high                   0.00          0.74  0.00  ...
Acetophenone_high               3.01          0.00  2.01  ...
AcetylPyridine_high             2.14          0.00  0.00  ...
Adoxal_high                     1.72          0.86  1.72  ...
AldehydeC-16highcon_high       39.68          0.79  7.14  ...

                          PUTRID, FOUL, DECAYED  FECAL, LIKE MANURE  \
Stimulus
Abhexone_high                              2.96                0.74
Acetophenone_high                          2.68                1.00
AcetylPyridine_high                        8.57                1.43
Adoxal_high                                3.45                0.00
AldehydeC-16highcon_high                   0.79                0.00

                          CADAVEROUS  SICKENING  DRY, POWDERY  CHALKY  LIGHT  \
Stimulus
Abhexone_high                   0.74      10.37          7.41    0.00  19.26
Acetophenone_high               1.00      14.39          6.02    0.00  16.38
AcetylPyridine_high             2.14      16.43         15.71    3.57   6.43
Adoxal_high                     0.00      25.00          6.03    2.59  23.28
AldehydeC-16highcon_high        0.00       2.38          0.79    0.79  28.57

                          HEAVY  COOL,COOLING   WARM
Stimulus
Abhexone_high             23.70          2.96  11.85
Acetophenone_high         39.15         15.72  25.76
AcetylPyridine_high       30.00          0.00  19.29
Adoxal_high               15.52          8.62  12.93
AldehydeC-16highcon_high   7.14         15.87   6.35

[5 rows x 146 columns]
     MolecularWeight         IsomericSMILES  \
CID
4              75.11                CC(CN)O
40            164.16    C1C(C(C(OC1O)CO)O)O
47            130.14      CCC(C)C(=O)C(=O)O
49            116.11       CC(C)C(=O)C(=O)O
51            146.10  C(CC(=O)O)C(=O)C(=O)O

                              IUPACName                         name
CID
4                    1-aminopropan-2-ol           1-aminopropan-2-ol
40   6-(hydroxymethyl)oxane-2,4,5-triol                 mls002638629
47         3-methyl-2-oxopentanoic acid   3-methyl-2-oxovaleric acid
49          3-methyl-2-oxobutanoic acid  3-methyl-2-oxobutanoic acid
51               2-oxopentanedioic acid          2-ketoglutaric acid
          CID
Stimulus
4           4
40         40
47         47
49         49
51         51
         Odor Percepts Odor Modifiers Flavor Percepts Flavor Modifiers
Stimulus
4              ammonia         slight           fishy              NaN
40                 NaN            NaN           sweet              NaN
47                 NaN            NaN          fruity              NaN
49                 NaN            NaN          fruity              NaN
51                 NaN            NaN        odorless              NaN
     MolecularWeight         IsomericSMILES               IUPACName  \
CID
107           150.17  C1=CC=C(C=C1)CCC(=O)O  3-phenylpropanoic acid
176            60.05                CC(=O)O             acetic acid
177            44.05                   CC=O            acetaldehyde
179            88.11            CC(C(=O)C)O    3-hydroxybutan-2-one
240           106.12       C1=CC=C(C=C1)C=O            benzaldehyde

                   name
CID
107  hydrocinnamic acid
176         acetic acid
177        acetaldehyde
179             acetoin
240        benzaldehyde
                 Descriptors
Stimulus
107                 balsamic
176                     sour
177            pungent;ether
179             cream;butter
240       burnt sugar;almond
          CID
Stimulus
107       107
176       176
177       177
179       179
240       240
     MolecularWeight                             IsomericSMILES  \
CID
4              75.11                                    CC(CN)O
6             202.55  C1=CC(=C(C=C1[N+](=O)[O-])[N+](=O)[O-])Cl
8             148.16                        CCC(C)(C(C(=O)O)O)O
15            290.40         CC12CCC(=O)CC1CCC3C2CCC4(C3CCC4O)C
19            154.12                  C1=CC(=C(C(=C1)O)O)C(=O)O

                                             IUPACName  \
CID
4                                   1-aminopropan-2-ol
6                          1-chloro-2,4-dinitrobenzene
8                 2,3-dihydroxy-3-methylpentanoic acid
15   17-hydroxy-10,13-dimethyl-1,2,4,5,6,7,8,9,11,1...
19                           2,3-dihydroxybenzoic acid

                                     name
CID
4                      1-aminopropan-2-ol
6             1-chloro-2,4-dinitrobenzene
8    2,3-dihydroxy-3-methylpentanoic acid
15              17-hydroxyandrostan-3-one
19              2,3-dihydroxybenzoic acid
    Water Solubility  logP  logS  pKa (Strongest Acidic)  \
CID
4            746 g/L -0.90  1.00                   15.30
6          0.037 g/L  2.46 -3.70                   19.94
8            486 g/L -0.30  0.52                    3.93
15          0.01 g/L  3.41 -4.50                   19.38
19          6.88 g/L  1.67 -1.40                    2.56

     pKa (Strongest Basic)  Physiological Charge  Hydrogen Acceptor Count  \
CID
4                     9.60                   1.0                      2.0
6                      NaN                   0.0                      4.0
8                    -3.30                  -1.0                      4.0
15                   -0.88                   0.0                      2.0
19                   -6.30                  -1.0                      4.0

     Hydrogen Donor Count Polar Surface Area  Rotatable Bond Count  \
CID
4                     2.0           46.25 Å²                   1.0
6                     0.0           91.64 Å²                   2.0
8                     3.0           77.76 Å²                   3.0
15                    1.0            37.3 Å²                   0.0
19                    3.0           77.76 Å²                   1.0

       Refractivity Polarizability  Number of Rings Bioavailability  \
CID
4    20.63 m³·mol⁻¹        8.45 Å³              0.0             Yes
6    45.51 m³·mol⁻¹       15.73 Å³              1.0             Yes
8    33.96 m³·mol⁻¹       14.39 Å³              0.0             Yes
15    83.6 m³·mol⁻¹       34.46 Å³              4.0             Yes
19   37.28 m³·mol⁻¹       13.71 Å³              1.0             Yes

    Rule of Five Ghose Filter Veber's Rule MDDR-like Rule
CID
4            Yes           No           No             No
6            Yes           No           No             No
8            Yes           No           No             No
15           Yes          Yes          Yes             No
19           Yes           No           No             No
     MolecularWeight         IsomericSMILES                IUPACName  \
CID
11             98.96               C(CCl)Cl       1,2-dichloroethane
13            181.40  C1=CC(=C(C=C1Cl)Cl)Cl   1,2,4-trichlorobenzene
79            104.11       C1=CC(=CN=C1)C#N  pyridine-3-carbonitrile
101           122.12    C1=CC(=CC(=C1)O)C=O    3-hydroxybenzaldehyde
126           122.12      C1=CC(=CC=C1C=O)O    4-hydroxybenzaldehyde

                       name
CID
11       1,2-dichloroethane
13   1,2,4-trichlorobenzene
79          3-cyanopyridine
101   3-hydroxybenzaldehyde
126   4-hydroxybenzaldehyde
     experimental value (kcal/mol)  experimental uncertainty (kcal/mol)  \
CID
11                           -1.79                                  0.6
13                           -1.12                                  0.6
79                           -6.75                                  0.6
101                          -9.52                                  1.9
126                          -8.83                                  0.6

     Mobley group calculated value (GAFF) (kcal/mol)  \
CID
11                                             -0.36
13                                             -0.12
79                                             -5.58
101                                            -9.37
126                                           -10.05

     calculated uncertainty (kcal/mol)
CID
11                                0.02
13                                0.03
79                                0.03
101                               0.03
126                               0.03
     MolecularWeight         IsomericSMILES               IUPACName  \
CID
107           150.17  C1=CC=C(C=C1)CCC(=O)O  3-phenylpropanoic acid
177            44.05                   CC=O            acetaldehyde
179            88.11            CC(C(=O)C)O    3-hydroxybutan-2-one
243           122.12    C1=CC=C(C=C1)C(=O)O            benzoic acid
261            72.11                 CCCC=O                 butanal

                   name
CID
107  hydrocinnamic acid
177        acetaldehyde
179             acetoin
243        benzoic acid
261       butyraldehyde
         Descriptor 1 Descriptor 2   Descriptor 3
Stimulus
439711         Earthy        Woody  Camphoraceous
16213731        Woody     Balsamic          Nutty
227829          Woody        Smoky           Rose
101977         Floral         Rose       Geranium
439263          Minty        Fresh       Aromatic
          CID
Stimulus
107       107
177       177
179       179
243       243
261       261
     MolecularWeight  IsomericSMILES         IUPACName             name
CID
263            74.12           CCCCO        butan-1-ol        1-butanol
264            88.11       CCCC(=O)O     butanoic acid     butyric acid
454           128.21      CCCCCCCC=O           octanal          octanal
460           124.14  COC1=CC=CC=C1O   2-methoxyphenol         guaiacol
650            86.09    CC(=O)C(=O)C  butane-2,3-dione  2,3-butanedione
          vial #        CID        CAS#              name concentration  \
stimulus
D1           NaN        NaN   8008-79-5         spearmint           NaN
D2           NaN   235414.0    106-02-5  pentadecalactone           NaN
D3           NaN     1030.0     57-55-6  propylene glycol           NaN
D4           NaN     1183.0    121-33-5          vanillin           NaN
D5           NaN  6852393.0  18339-16-7      androstenone           NaN

          dilution           solvent measures obtained                 notes
stimulus
D1         1/5.000      paraffin oil       descriptors  calibration stimulus
D2           1/500  propylene glycol       descriptors                   NaN
D3             NaN               NaN       descriptors               solvent
D4           1/200  propylene glycol       descriptors                   NaN
D5        1/10.000  propylene glycol       descriptors                   NaN
          subject  thresholds
stimulus
T1             33    0.000156
T1             36    0.000143
T1             37    0.000085
T1             38    0.001363
T1             39    0.007071
          subject  rep descriptor  value
stimulus
D2             33    1      sweet      1
D2             33    1   fragrant      2
D2             33    1  perfumery      2
D2             33    1     floral      0
D2             33    1    cologne      0
          subject  rep  intensity
stimulus
IP1            33    1        6.0
IP1            33    2        5.0
IP1            36    1        5.0
IP1            36    2        5.0
IP1            37    1        6.0

In [81]:
def extract_file_per_ds(ds_name):
    # ds = "aromadb"
    csv_files_keys = csv_files[ds].keys()
    for key in csv_files_keys:
    # print(f"{ds}: {key}")
        print(key)
        display(csv_files[ds][key].head(5))

In [82]:
ds = "aromadb"
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name
CID,,,,
49,116.11,CC(C)C(=O)C(=O)O,3-methyl-2-oxobutanoic acid,3-methyl-2-oxobutanoic acid
107,150.17,C1=CC=C(C=C1)CCC(=O)O,3-phenylpropanoic acid,hydrocinnamic acid
126,122.12,C1=CC(=CC=C1C=O)O,4-hydroxybenzaldehyde,4-hydroxybenzaldehyde
176,60.05,CC(=O)O,acetic acid,acetic acid
177,44.05,CC=O,acetaldehyde,acetaldehyde

behavior

         Raw Descriptors Filtered Descriptors Modifiers
Stimulus
49        fruity aroma??               fruity       NaN
107             balsamic             balsamic       NaN
126          nutty aroma                nutty       NaN
176                 sour                 sour       NaN
177             ethereal             ethereal       NaN

stimuli

          CID
Stimulus
49         49
107       107
126       126
176       176
177       177

In [83]:
ds = "bushdid_2014"
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name,Odorant name,C.A.S.,% odorant,Solvent
CID,,,,,,,,
176,60.05,CC(=O)O,acetic acid,acetic acid,acetic acid,64-19-7,10.00,mineral oil
177,44.05,CC=O,acetaldehyde,acetaldehyde,acetaldehyde,75-07-0,5.00,water
179,88.11,CC(C(=O)C)O,3-hydroxybutan-2-one,acetoin,acetoin,513-86-0,0.10,"1,2-propanediol"
180,58.08,CC(=O)C,propan-2-one,acetone,propan-2-one,67-64-1,25.00,water
240,106.12,C1=CC=C(C=C1)C=O,benzaldehyde,benzaldehyde,benzaldehyde,100-52-7,0.25,mineral oil

stimuli

,Answer,Components in mixtures,Components that differ,% mixture overlap,Stimulus dilution,Molecule 1,Molecule 2,Molecule 3,Molecule 4,Molecule 5,...,Molecule 21,Molecule 22,Molecule 23,Molecule 24,Molecule 25,Molecule 26,Molecule 27,Molecule 28,Molecule 29,Molecule 30
Stimulus,,,,,,,,,,,,,,,,,,,,,
1,right,30,30,0.0,1.00,12232,7731,7888,7966,7848,...,8103,7344,8051,7921,460,7583,11002,12367,6590,7991
1,wrong,30,30,0.0,0.25,440917,5281515,8030,3314,31272,...,6561,22386,11509,443162,8797,16666,7749,7793,7799,7762
1,wrong,30,30,0.0,0.50,440917,5281515,8030,3314,31272,...,6561,22386,11509,443162,8797,16666,7749,7793,7799,7762
2,right,10,4,60.0,0.50,3314,62433,5281515,7749,6561,...,0,0,0,0,0,0,0,0,0,0
2,wrong,10,4,60.0,0.25,3314,62433,5281515,7749,6561,...,0,0,0,0,0,0,0,0,0,0

behavior

          Subject  Correct
Stimulus
1               1    False
1               2     True
1               3    False
1               4     True
1               5     True

In [84]:
ds = "dravnieks_1985"
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name
CID,,,,
240,106.12,C1=CC=C(C=C1)C=O,benzaldehyde,benzaldehyde
263,74.12,CCCCO,butan-1-ol,1-butanol
264,88.11,CCCC(=O)O,butanoic acid,butyric acid
323,146.14,C1=CC=C2C(=C1)C=CC(=O)O2,chromen-2-one,coumarin
326,148.20,CC(C)C1=CC=C(C=C1)C=O,4-propan-2-ylbenzaldehyde,4-isopropylbenzaldehyde

stimuli

                                CAS      CID  Conc                 Name
Stimulus
Abhexone_high              698-10-2  61199.0  high             Abhexone
Acetophenone_high           98-86-2   7410.0  high         Acetophenone
AcetylPyridine_high       1122-62-9  14286.0  high       AcetylPyridine
Adoxal_high                141-13-9  98403.0  high               Adoxal
AldehydeC-16highcon_high    77-83-8   6501.0  high  AldehydeC-16highcon

behavior_1

,"FRUITY,CITRUS",LEMON,GRAPEFRUIT,ORANGE,"FRUITY,OTHER THAN CITRUS",PINEAPPLE,GRAPE JUICE,STRAWBERRY,"APPLE, FRUIT",PEAR,...,"PUTRID, FOUL, DECAYED","FECAL, LIKE MANURE",CADAVEROUS,SICKENING,"DRY, POWDERY",CHALKY,LIGHT,HEAVY,"COOL,COOLING",WARM
Stimulus,,,,,,,,,,,,,,,,,,,,,
Abhexone_high,0.00,0.00,0.00,0.00,0.66,0.00,0.33,0.00,0.47,0.00,...,1.87,0.33,0.47,7.44,4.19,0.00,13.83,17.58,2.58,8.17
Acetophenone_high,1.57,0.52,0.26,0.41,8.29,0.52,1.26,1.74,0.00,1.02,...,1.63,0.58,0.68,10.14,4.08,0.00,12.06,29.34,9.89,17.95
AcetylPyridine_high,0.00,0.32,0.00,0.00,0.45,0.00,0.00,1.24,0.00,0.00,...,6.26,1.01,1.46,13.18,11.31,2.58,4.18,23.51,0.00,13.79
Adoxal_high,5.00,3.66,1.09,3.95,3.53,3.27,0.00,0.77,0.39,1.44,...,2.56,0.00,0.00,20.13,3.23,1.16,15.65,12.77,5.45,9.90
AldehydeC-16highcon_high,10.15,3.39,0.00,6.39,52.76,6.64,10.35,32.24,0.79,5.11,...,0.35,0.00,0.00,1.84,0.50,0.61,20.20,5.11,11.56,4.26

behavior_2

,"FRUITY,CITRUS",LEMON,GRAPEFRUIT,ORANGE,"FRUITY,OTHER THAN CITRUS",PINEAPPLE,GRAPE JUICE,STRAWBERRY,"APPLE, FRUIT",PEAR,...,"PUTRID, FOUL, DECAYED","FECAL, LIKE MANURE",CADAVEROUS,SICKENING,"DRY, POWDERY",CHALKY,LIGHT,HEAVY,"COOL,COOLING",WARM
Stimulus,,,,,,,,,,,,,,,,,,,,,
Abhexone_high,0.00,0.00,0.00,0.00,1.48,0.00,0.74,0.00,0.74,0.00,...,2.96,0.74,0.74,10.37,7.41,0.00,19.26,23.70,2.96,11.85
Acetophenone_high,2.34,0.67,0.34,0.67,11.71,1.00,2.01,3.01,0.00,2.01,...,2.68,1.00,1.00,14.39,6.02,0.00,16.38,39.15,15.72,25.76
AcetylPyridine_high,0.00,0.71,0.00,0.00,0.71,0.00,0.00,2.14,0.00,0.00,...,8.57,1.43,2.14,16.43,15.71,3.57,6.43,30.00,0.00,19.29
Adoxal_high,6.90,5.17,1.72,6.03,5.17,5.17,0.00,1.72,0.86,1.72,...,3.45,0.00,0.00,25.00,6.03,2.59,23.28,15.52,8.62,12.93
AldehydeC-16highcon_high,15.08,5.56,0.00,9.52,61.11,11.11,13.49,39.68,0.79,7.14,...,0.79,0.00,0.00,2.38,0.79,0.79,28.57,7.14,15.87,6.35

In [85]:
ds = "flavordb"
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name
CID,,,,
4,75.11,CC(CN)O,1-aminopropan-2-ol,1-aminopropan-2-ol
40,164.16,C1C(C(C(OC1O)CO)O)O,"6-(hydroxymethyl)oxane-2,4,5-triol",mls002638629
47,130.14,CCC(C)C(=O)C(=O)O,3-methyl-2-oxopentanoic acid,3-methyl-2-oxovaleric acid
49,116.11,CC(C)C(=O)C(=O)O,3-methyl-2-oxobutanoic acid,3-methyl-2-oxobutanoic acid
51,146.10,C(CC(=O)O)C(=O)C(=O)O,2-oxopentanedioic acid,2-ketoglutaric acid

stimuli

          CID
Stimulus
4           4
40         40
47         47
49         49
51         51

behavior

         Odor Percepts Odor Modifiers Flavor Percepts Flavor Modifiers
Stimulus
4              ammonia         slight           fishy              NaN
40                 NaN            NaN           sweet              NaN
47                 NaN            NaN          fruity              NaN
49                 NaN            NaN          fruity              NaN
51                 NaN            NaN        odorless              NaN

In [86]:
ds = "flavornet"
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name
CID,,,,
107,150.17,C1=CC=C(C=C1)CCC(=O)O,3-phenylpropanoic acid,hydrocinnamic acid
176,60.05,CC(=O)O,acetic acid,acetic acid
177,44.05,CC=O,acetaldehyde,acetaldehyde
179,88.11,CC(C(=O)C)O,3-hydroxybutan-2-one,acetoin
240,106.12,C1=CC=C(C=C1)C=O,benzaldehyde,benzaldehyde

behavior

                 Descriptors
Stimulus
107                 balsamic
176                     sour
177            pungent;ether
179             cream;butter
240       burnt sugar;almond

stimuli

          CID
Stimulus
107       107
176       176
177       177
179       179
240       240

In [87]:
ds = "foodb"
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name
CID,,,,
4,75.11,CC(CN)O,1-aminopropan-2-ol,1-aminopropan-2-ol
6,202.55,C1=CC(=C(C=C1[N+](=O)[O-])[N+](=O)[O-])Cl,"1-chloro-2,4-dinitrobenzene","1-chloro-2,4-dinitrobenzene"
8,148.16,CCC(C)(C(C(=O)O)O)O,"2,3-dihydroxy-3-methylpentanoic acid","2,3-dihydroxy-3-methylpentanoic acid"
15,290.40,CC12CCC(=O)CC1CCC3C2CCC4(C3CCC4O)C,"17-hydroxy-10,13-dimethyl-1,2,4,5,6,7,8,9,11,1...",17-hydroxyandrostan-3-one
19,154.12,C1=CC(=C(C(=C1)O)O)C(=O)O,"2,3-dihydroxybenzoic acid","2,3-dihydroxybenzoic acid"

physics

,Water Solubility,logP,logS,pKa (Strongest Acidic),pKa (Strongest Basic),Physiological Charge,Hydrogen Acceptor Count,Hydrogen Donor Count,Polar Surface Area,Rotatable Bond Count,Refractivity,Polarizability,Number of Rings,Bioavailability,Rule of Five,Ghose Filter,Veber's Rule,MDDR-like Rule
CID,,,,,,,,,,,,,,,,,,
4,746 g/L,-0.90,1.00,15.30,9.60,1.0,2.0,2.0,46.25 Å²,1.0,20.63 m³·mol⁻¹,8.45 Å³,0.0,Yes,Yes,No,No,No
6,0.037 g/L,2.46,-3.70,19.94,NaN,0.0,4.0,0.0,91.64 Å²,2.0,45.51 m³·mol⁻¹,15.73 Å³,1.0,Yes,Yes,No,No,No
8,486 g/L,-0.30,0.52,3.93,-3.30,-1.0,4.0,3.0,77.76 Å²,3.0,33.96 m³·mol⁻¹,14.39 Å³,0.0,Yes,Yes,No,No,No
15,0.01 g/L,3.41,-4.50,19.38,-0.88,0.0,2.0,1.0,37.3 Å²,0.0,83.6 m³·mol⁻¹,34.46 Å³,4.0,Yes,Yes,Yes,Yes,No
19,6.88 g/L,1.67,-1.40,2.56,-6.30,-1.0,4.0,3.0,77.76 Å²,1.0,37.28 m³·mol⁻¹,13.71 Å³,1.0,Yes,Yes,No,No,No

In [88]:
ds = "freesolve"

In [89]:
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name
CID,,,,
11,98.96,C(CCl)Cl,"1,2-dichloroethane","1,2-dichloroethane"
13,181.40,C1=CC(=C(C=C1Cl)Cl)Cl,"1,2,4-trichlorobenzene","1,2,4-trichlorobenzene"
79,104.11,C1=CC(=CN=C1)C#N,pyridine-3-carbonitrile,3-cyanopyridine
101,122.12,C1=CC(=CC(=C1)O)C=O,3-hydroxybenzaldehyde,3-hydroxybenzaldehyde
126,122.12,C1=CC(=CC=C1C=O)O,4-hydroxybenzaldehyde,4-hydroxybenzaldehyde

physics

,experimental value (kcal/mol),experimental uncertainty (kcal/mol),Mobley group calculated value (GAFF) (kcal/mol),calculated uncertainty (kcal/mol)
CID,,,,
11,-1.79,0.6,-0.36,0.02
13,-1.12,0.6,-0.12,0.03
79,-6.75,0.6,-5.58,0.03
101,-9.52,1.9,-9.37,0.03
126,-8.83,0.6,-10.05,0.03

In [91]:
ds = "ifra_2019"
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name
CID,,,,
107,150.17,C1=CC=C(C=C1)CCC(=O)O,3-phenylpropanoic acid,hydrocinnamic acid
177,44.05,CC=O,acetaldehyde,acetaldehyde
179,88.11,CC(C(=O)C)O,3-hydroxybutan-2-one,acetoin
243,122.12,C1=CC=C(C=C1)C(=O)O,benzoic acid,benzoic acid
261,72.11,CCCC=O,butanal,butyraldehyde

behavior

         Descriptor 1 Descriptor 2   Descriptor 3
Stimulus
439711         Earthy        Woody  Camphoraceous
16213731        Woody     Balsamic          Nutty
227829          Woody        Smoky           Rose
101977         Floral         Rose       Geranium
439263          Minty        Fresh       Aromatic

stimuli

          CID
Stimulus
107       107
177       177
179       179
243       243
261       261

In [93]:
ds = "keller_2012"
extract_file_per_ds(ds)

molecules

     MolecularWeight  IsomericSMILES         IUPACName             name
CID
263            74.12           CCCCO        butan-1-ol        1-butanol
264            88.11       CCCC(=O)O     butanoic acid     butyric acid
454           128.21      CCCCCCCC=O           octanal          octanal
460           124.14  COC1=CC=CC=C1O   2-methoxyphenol         guaiacol
650            86.09    CC(=O)C(=O)C  butane-2,3-dione  2,3-butanedione

stimuli

,vial #,CID,CAS#,name,concentration,dilution,solvent,measures obtained,notes
stimulus,,,,,,,,,
D1,NaN,NaN,8008-79-5,spearmint,NaN,1/5.000,paraffin oil,descriptors,calibration stimulus
D2,NaN,235414.0,106-02-5,pentadecalactone,NaN,1/500,propylene glycol,descriptors,NaN
D3,NaN,1030.0,57-55-6,propylene glycol,NaN,NaN,NaN,descriptors,solvent
D4,NaN,1183.0,121-33-5,vanillin,NaN,1/200,propylene glycol,descriptors,NaN
D5,NaN,6852393.0,18339-16-7,androstenone,NaN,1/10.000,propylene glycol,descriptors,NaN

behavior_1

          subject  thresholds
stimulus
T1             33    0.000156
T1             36    0.000143
T1             37    0.000085
T1             38    0.001363
T1             39    0.007071

behavior_2

          subject  rep descriptor  value
stimulus
D2             33    1      sweet      1
D2             33    1   fragrant      2
D2             33    1  perfumery      2
D2             33    1     floral      0
D2             33    1    cologne      0

behavior_3

          subject  rep  intensity
stimulus
IP1            33    1        6.0
IP1            33    2        5.0
IP1            36    1        5.0
IP1            36    2        5.0
IP1            37    1        6.0

behavior_4

          subject  rep  pleasantness
stimulus
IP1            33    1           3.0
IP1            33    2           3.0
IP1            36    1           4.0
IP1            36    2           4.0
IP1            37    1           3.0

subjects

,BMI,age (years),gender,race,hispanic,marital status,education,income,picky eater,enthusiastic eater,weight,cigarettes,perfume usage (per week)
Subject,,,,,,,,,,,,,
33,40.320098,43.860274,Male,Caucasian,No,Single,Graduate School,Do Not Wish To Specify,No,Yes,Overweight,I do not smoke,I do not use perfume cologne and/or toliet water
36,23.333014,25.123288,Male,Other,No,Single,Some College,"$50,000 to $74,999",No,No,Underweight,Very rarely (e.g. 1 per week),8-13 times
37,25.118177,34.665753,Male,Caucasian,No,Married,College Graduate,"$50,000 to $74,999",No,Yes,Just Right,Less than 5,I do not use perfume cologne and/or toliet water
38,24.713840,28.915068,Male,Caucasian,No,Single,College Graduate,"$20,000 to $34,999",Yes,Yes,Just Right,I do not smoke,I do not use perfume cologne and/or toliet water
39,31.018694,31.016438,Female,African-American,No,Single,Graduate School,Do Not Wish To Specify,Yes,Yes,Overweight,I do not smoke,7 times

In [95]:
ds = "keller_2016"
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name
CID,,,,
126,122.12,C1=CC(=CC=C1C=O)O,4-hydroxybenzaldehyde,4-hydroxybenzaldehyde
176,60.05,CC(=O)O,acetic acid,acetic acid
177,44.05,CC=O,acetaldehyde,acetaldehyde
180,58.08,CC(=O)C,propan-2-one,acetone
196,146.14,C(CCC(=O)O)CC(=O)O,hexanedioic acid,adipic acid

behavior

,Descriptor,Dilution,Replicate,1,2,3,4,5,6,7,...,46,47,48,49,50,51,52,53,54,55
Stimulus,,,,,,,,,,,,,,,,,,,,,
126,Acid,-3.0,0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0
126,Acid,-1.0,0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,...,32.0,0.0,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0
126,Ammonia,-3.0,0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0
126,Ammonia,-1.0,0,0.0,0.0,NaN,0.0,0.0,31.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0
126,Bakery,-3.0,0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0

stimuli

          CID
Stimulus
126       126
176       176
177       177
180       180
196       196

In [96]:
ds= "manoel_2021"
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name
CID,,,,
240,106.12,C1=CC=C(C=C1)C=O,benzaldehyde,benzaldehyde
273,102.18,C(CCN)CCN,"pentane-1,5-diamine","pentane-1,5-diamine"
379,144.21,CCCCCCCC(=O)O,octanoic acid,octanoic acid
454,128.21,CCCCCCCC=O,octanal,octanal
798,117.15,C1=CC=C2C(=C1)C=CN2,1H-indole,indole

behavior

,dC/H (s),fC/H,1'dOI (s),3'dOI (s),1'fOI,3'fOI,1'Z3 (s),3'Z3 (s),1'Z1 (s),3'Z1 (s),RAS,WAA,dSGR (s),fSGR,dDIG (s),fDIG,REA,DIT (m)
Stimulus,,,,,,,,,,,,,,,,,,
240,0.0,0,2.40,6.89,2,6,21.33,60.96,24.95,77.05,8,7,11.63,6,2.47,3,28,4.15516
240,0.0,0,0.00,3.80,0,5,14.70,45.96,30.66,94.52,12,12,0.38,1,0.17,1,14,4.78164
240,0.0,0,0.22,2.17,1,4,14.45,40.44,25.29,105.16,8,8,2.78,5,0.13,1,11,3.86996
240,0.0,0,1.15,2.27,3,8,14.58,39.81,30.70,100.66,12,12,1.04,3,6.99,8,28,6.94998
240,0.0,0,0.00,0.94,0,4,10.84,43.83,33.78,95.87,13,12,0.00,0,0.19,1,17,5.08333

stimuli

          CID
Stimulus
240       240
273       273
379       379
454       454
798       798

In [97]:
ds = "nakayama_2022"
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name
CID,,,,
240,106.12,C1=CC=C(C=C1)C=O,benzaldehyde,benzaldehyde
264,88.11,CCCC(=O)O,butanoic acid,butyric acid
1032,74.08,CCC(=O)O,propanoic acid,propionic acid
6590,88.11,CC(C)C(=O)O,2-methylpropanoic acid,isobutyric acid
7755,116.16,CCC(C)CC(=O)O,3-methylpentanoic acid,3-methylvaleric acid

stimuli

                      CIDs  conc
stimulus
1         [8051, 17750155]     0
2                  [18840]     0
3           [8051, 637511]     0
4                   [7802]     1
5                   [8034]     1

behavior

            stimulus_2  delay  mouse_id  response
stimulus_1
121                 43    0.0       100         0
49                  49    0.0       100         1
130                130    0.0       100         1
107                 41    0.0       100         0
105                 93    0.0       100         1

In [98]:
ds = "nat_geo_1986"
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name
CID,,,,
3314,164.20,COC1=C(C=CC(=C1)CC=C)O,2-methoxy-4-prop-2-enylphenol,eugenol
6054,122.16,C1=CC=C(C=C1)CCO,2-phenylethanol,2-phenylethanol
6364,76.16,CC(C)S,propane-2-thiol,2-propanethiol
6387,90.19,CC(C)(C)S,2-methylpropane-2-thiol,2-methyl-2-propanethiol
7848,76.16,CCCS,propane-1-thiol,1-propanethiol

stimuli

,0,6852393,31276,91497,3314,6387,6364,7848,10560,6054
Simuli,,,,,,,,,,
Mercaptans,0.00,0.000,0.0,0.000,0.0,0.0304,0.0072,0.0016,0.0008,0.00
Androstenone,0.00,0.001,0.0,0.000,0.0,0.0000,0.0000,0.0000,0.0000,0.00
Galaxolide,0.00,0.000,0.0,0.425,0.0,0.0000,0.0000,0.0000,0.0000,0.00
Eugenol,0.00,0.000,0.0,0.000,1.0,0.0000,0.0000,0.0000,0.0000,0.00
Rose,0.48,0.000,0.0,0.000,0.0,0.0000,0.0000,0.0000,0.0000,0.32

behavior

,Subject,Descriptor,Edible,Intensity,Memorable,Quality,Smell,Wearable
Odorant,,,,,,,,
Androstenone,1,7,2,4,2,2,1,2
Androstenone,2,8,2,3,2,3,1,1
Androstenone,3,2,2,5,2,5,1,1
Androstenone,4,2,2,2,2,3,1,3
Androstenone,5,1,2,2,2,3,2,3

subjects

,HAND_WRITE,HAND_THROW,WORK_ENVIOR,SELF_RATE_SMELL,DAYS_W_PERF,PERF_GT_1,CHEM_EXPOSE,PREG,FLU_COLD,HEAD_INJ,...,decage,corr1,corr2,corr3,corr4,corr5,corr6,totcorr,source,a1a6_0
Subject,,,,,,,,,,,,,,,,,,,,,
1,2,2,1,4,1,2,0,0,0,0,...,3,2,1,1,1,2,1,4,4,0
2,2,2,1,5,2,1,0,0,1,0,...,4,2,1,1,1,2,1,4,4,1
3,2,2,6,5,4,2,0,0,1,0,...,8,2,1,2,1,1,1,4,4,1
4,2,2,3,3,1,2,0,0,1,0,...,2,2,2,2,1,1,1,3,4,1
5,1,1,1,4,1,2,0,0,1,0,...,6,2,2,2,2,2,2,0,4,1

In [99]:
ds = "nhanes_2014"
extract_file_per_ds(ds)

stimuli

,SAS Label,English Text,Target
Stimulus,,,
CSQ010,Had problem with smell past 12 months?,The next questions are about {your/SP's} sense...,Both males and females 40 YEARS - 150 YEARS
CSQ020,Had change ability to smell since age 25,How would {you/SP} rate {your/his/her} ability...,Both males and females 40 YEARS - 150 YEARS
CSQ030,"Smells bother you, but not others",Do some smells bother {you/SP} although they d...,Both males and females 40 YEARS - 150 YEARS
CSQ040,Had phantom odor?,{Do you/Does SP} sometimes smell an unpleasant...,Both males and females 40 YEARS - 150 YEARS
CSQ060,When noticed change in ability to smell,How long ago {did you/did SP} first notice a p...,Both males and females 40 YEARS - 150 YEARS

behavior_1

          Subject Response
Stimulus
AUQ136      73557       No
AUQ136      73558       No
AUQ136      73559       No
AUQ136      73561       No
AUQ136      73562       No

behavior_2

          Subject   Response
Stimulus
CSAEFFRT    73557  Very good
CSAEFFRT    73558  Very good
CSAEFFRT    73559       Fair
CSAEFFRT    73561  Very good
CSAEFFRT    73562  Very good

In [100]:
ds = "ravia_2020"
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name
CID,,,,
126,122.12,C1=CC(=CC=C1C=O)O,4-hydroxybenzaldehyde,4-hydroxybenzaldehyde
126,122.12,C1=CC(=CC=C1C=O)O,4-hydroxybenzaldehyde,4-hydroxybenzaldehyde
176,60.05,CC(=O)O,acetic acid,acetic acid
176,60.05,CC(=O)O,acetic acid,acetic acid
180,58.08,CC(=O)C,propan-2-one,acetone

stimuli

,Type,Experiment,CID,ID,Compared To ID,ID In Exp 1,ID In Exp 2,Dilution1,Dilution2,Dilution3
Stimulus,,,,,,,,,,
0,mono-molecule,Exp1,7519,NaN,NaN,1,NaN,100.00%,NaN,NaN
1,mono-molecule,Exp1,7770,NaN,NaN,2,NaN,100.00%,NaN,NaN
2,mono-molecule,Exp1,1140,NaN,NaN,3,NaN,100.00%,NaN,NaN
3,mono-molecule,Exp1,8030,NaN,NaN,4,NaN,100.00%,NaN,NaN
4,mono-molecule,Exp1,8103,NaN,NaN,5,NaN,100.00%,NaN,NaN

behavior_1

          Dilution #  Intensity
Stimulus
0                  1      70.08
0                  2        NaN
0                  3        NaN
1                  1      65.60
1                  2        NaN

behavior_2

            Stimulus 2  RatedSimilarity
Stimulus 1
257                257        89.136364
257                258        28.045455
257                259        38.477273
257                260        22.090909
257                261        59.045455

behavior_3

,Stimulus 2,Subject,TrialOrderInSession,Choice,CorrectChoiceOnScreen,IsCorrect,RT_Discrimination,Confidence,RT_Confidence
Stimulus 1,,,,,,,,,
285,285,M101,1,0,1,0,15.820587,0.965318,1.578485
285,285,M101,1,1,1,1,31.344349,0.502312,1.667771
285,285,M438,1,1,1,1,13.146231,0.726012,1.512166
285,285,M438,1,1,1,1,11.956795,0.693064,2.898439
285,285,M535,1,0,1,0,12.326446,0.868208,0.747666

In [102]:
ds = "sharma_2021b"
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name
CID,,,,
4,75.11,CC(CN)O,1-aminopropan-2-ol,1-aminopropan-2-ol
19,154.12,C1=CC(=C(C(=C1)O)O)C(=O)O,"2,3-dihydroxybenzoic acid","2,3-dihydroxybenzoic acid"
49,116.11,CC(C)C(=O)C(=O)O,3-methyl-2-oxobutanoic acid,3-methyl-2-oxobutanoic acid
51,146.10,C(CC(=O)O)C(=O)C(=O)O,2-oxopentanedioic acid,2-ketoglutaric acid
58,102.09,CCC(=O)C(=O)O,2-oxobutanoic acid,2-oxobutanoic acid

stimuli

          CID
Stimulus
4           4
19         19
49         49
51         51
58         58

behavior_1

           Primary Odor Sub Odor Strength
Stimulus
4               Ammonia    Fishy      NaN
4         Fishy/Ammonia    Fishy      NaN
4          Fishy/Rancid    Fishy      NaN
4                  Food    Fishy      NaN
19             Odorless      NaN      NaN

behavior_2

         Olfactory Receptor
Stimulus
177                MOR261-1
177                MOR268-1
179                  OR52D1
240                   OR1G1
240                  OR52D1

physics

,Molar Refractivity,Net Charge,HBD,HBA,Rt Bonds,Rings,TPSA,Hetero Atoms,Heavy Atoms,Aromatic Heavy Atoms,...,Estrogen Receptor Binding,Glucocorticoid Receptor Binding,Thyroid Receptor Binding,BRCP inhibitor,BSEP inhibitor,OATP1B1 inhibitor,OATP1B3 inhibitor,OATP2B1 inhibitor,OCT1 inhibitor,OCT2 inhibitor
CID,,,,,,,,,,,,,,,,,,,,,
4,20.40,1.0,2.0,2.0,1.0,NaN,46.25,2.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
19,37.45,-1.0,3.0,4.0,1.0,1.0,77.76,4.0,11.0,6.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
49,28.12,-1.0,1.0,3.0,2.0,NaN,54.37,3.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
51,29.89,-2.0,2.0,5.0,4.0,NaN,91.67,5.0,10.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
58,23.31,-1.0,1.0,3.0,2.0,NaN,54.37,3.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [103]:
ds = "sigma_2014"
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name
CID,,,,
58,102.09,CCC(=O)C(=O)O,2-oxobutanoic acid,2-oxobutanoic acid
107,150.17,C1=CC=C(C=C1)CCC(=O)O,3-phenylpropanoic acid,hydrocinnamic acid
126,122.12,C1=CC(=CC=C1C=O)O,4-hydroxybenzaldehyde,4-hydroxybenzaldehyde
135,138.12,C1=CC(=CC=C1C(=O)O)O,4-hydroxybenzoic acid,4-hydroxybenzoic acid
176,60.05,CC(=O)O,acetic acid,acetic acid

stimuli

                 CAS
Stimulus
-69       84961-50-2
-68        8015-91-6
-67        8030-97-5
-66        8008-52-4
-65        8016-49-7

behavior

,descriptors,potato,marigold,anise,herba-,caraway,tropical,rose,brandy,coffee,...,alliaceous,meaty,coconut,cinnamon,cabbage,mango,lavender,beer,ethereal,balsamic
Stimulus,,,,,,,,,,,,,,,,,,,,,
-69,['spicy'],False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
-68,['cinnamon'],False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
-67,"['nutty', 'ethereal', 'sweet']",False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
-66,"['fruity', 'sweet']",False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
-65,"['meaty', 'sulfurous', 'vegetable']",False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

behavior_sparse

                                  descriptors
Stimulus
-69                                 ['spicy']
-68                              ['cinnamon']
-67            ['nutty', 'ethereal', 'sweet']
-66                       ['fruity', 'sweet']
-65       ['meaty', 'sulfurous', 'vegetable']

In [104]:
ds = "snitz_2013"
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name
CID,,,,
58,102.09,CCC(=O)C(=O)O,2-oxobutanoic acid,2-oxobutanoic acid
107,150.17,C1=CC=C(C=C1)CCC(=O)O,3-phenylpropanoic acid,hydrocinnamic acid
176,60.05,CC(=O)O,acetic acid,acetic acid
177,44.05,CC=O,acetaldehyde,acetaldehyde
179,88.11,CC(C(=O)C)O,3-hydroxybutan-2-one,acetoin

behavior

,StimulusA,StimulusB,Similarity
Pair,,,
1,"6501,264,2879,7685,7731,326,7888,61138,8030,1183","240,93009,323,8148,7762,3314,460,6184,798,6054",39.583333
2,"6501,264,2879,7685,7731,326,7888,61138,8030,1183",7710,34.895833
3,"6501,264,2879,7685,7731,326,7888,61138,8030,1183","31276,93009,11002,323,7966,8148,7632,22201,193...",47.395833
4,"6501,264,2879,7685,7731,326,7888,61138,8030,1183","10890,93009,11002,6982,323,8797,7966,8148,7632...",49.479167
5,"6501,264,2879,7685,7731,326,7888,61138,8030,1183","7710,31276,10890,240,93009,11002,6982,323,8797...",58.854167

stimuli

          CID
Stimulus
58         58
107       107
176       176
177       177
179       179

physics

,MW,AMW,Sv,Se,Sp,Ss,Mv,Me,Mp,Ms,...,Hypertens-50,Hypnotic-80,Hypnotic-50,Neoplastic-80,Neoplastic-50,Infective-80,Infective-50,BLTF96,BLTD48,BLTA96
CID,,,,,,,,,,,,,,,,,,,,,
58,0.10,0.05,0.11,0.11,0.11,0.18,0.09,0.60,0.04,0.67,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.66,0.66,0.66
107,0.19,0.04,0.24,0.21,0.24,0.20,0.16,0.27,0.08,0.34,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.39,0.39,0.39
176,0.03,0.04,0.04,0.04,0.04,0.09,0.05,0.60,0.01,0.76,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.66,0.66,0.66
177,0.00,0.02,0.02,0.03,0.03,0.04,0.05,0.33,0.03,0.62,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.66,0.66,0.66
179,0.08,0.02,0.11,0.12,0.12,0.12,0.05,0.33,0.03,0.53,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.65,0.64,0.65

In [105]:
ds = "snitz_2019"
extract_file_per_ds(ds)

molecules

,MolecularWeight,IsomericSMILES,IUPACName,name
CID,,,,
326,148.20,CC(C)C1=CC=C(C=C1)C=O,4-propan-2-ylbenzaldehyde,4-isopropylbenzaldehyde
6501,206.24,CCOC(=O)C1C(O1)(C)C2=CC=CC=C2,ethyl 3-methyl-3-phenyloxirane-2-carboxylate,77-83-8
6736,131.17,CC1=CNC2=CC=CC=C12,3-methyl-1H-indole,3-methylindole
7059,143.18,CC1=CC2=C(C=C1)N=CC=C2,6-methylquinoline,6-methylquinoline
7600,206.28,CC(C)CCOC(=O)CC1=CC=CC=C1,3-methylbutyl 2-phenylacetate,102-19-2

behavior_1

,Subject,Pleasant,Volatile,WeakStrong,Bitter,Chemical,Spice,Sweet,FreshRotten,CleanDirty,Burnt,Fruity,Develops,Garlic
Stimulus,,,,,,,,,,,,,,
AS,7819,1,66,90,1,96,12,66,74,2,94,56,92,53
AS,7832,31,55,54,57,86,59,54,64,83,57,35,64,21
AS,7837,20,33,80,86,85,86,75,33,27,62,62,69,11
AS,7839,43,58,46,61,55,58,60,50,53,50,61,50,54
AS,7850,2,36,99,88,96,98,2,15,9,89,5,98,9

behavior_2

,Subject,SessionNumber,Pleasant,Volatile,WeakStrong,Bitter,Chemical,Spice,Sweet,FreshRotten,CleanDirty,Burnt,Fruity,Develops,Garlic
Stimulus,,,,,,,,,,,,,,,
AY,0,1,74,59,63,11,67,14,82,66,8,1,40,38,1
AY,0,2,74,64,36,1,29,1,74,71,1,1,65,67,1
AY,1,1,82,20,32,32,33,54,75,58,79,1,100,58,1
AY,1,2,62,32,43,17,32,15,67,50,56,1,82,62,1
AY,2,1,65,55,17,66,91,33,54,58,67,24,59,23,9

subjects

         Age Gender
Subject
0         33      M
1         35      M
2         51      M
3         29      M
4         31      M

stimuli

              CID
Stimulus
AY           6501
EQ            326
FE          26955
FL         638011
FM        5283361

In [106]:
ds = "weiss_2012"
extract_file_per_ds(ds)

molecules

     MolecularWeight    IsomericSMILES             IUPACName          name
CID
176            60.05           CC(=O)O           acetic acid   acetic acid
177            44.05              CC=O          acetaldehyde  acetaldehyde
179            88.11       CC(C(=O)C)O  3-hydroxybutan-2-one       acetoin
180            58.08           CC(=O)C          propan-2-one       acetone
240           106.12  C1=CC=C(C=C1)C=O          benzaldehyde  benzaldehyde

stimuli

,No. Comp. in Mixture,Set,CID
Stimulus,,,
white,1,1,"[7710, 24915, 26331, 8130, 62444, 14286, 62433..."
white,1,2,"[7710, 2879, 3314, 8103, 7888, 443158, 62444, ..."
white,1,3,"[323, 326, 31252, 460, 10821, 7714, 6501, 8148..."
white,1,4,"[7685, 7966, 9609, 20859, 62444, 31277, 10722,..."
white,4,1,"[93009, 460, 443158, 6544, 7731, 7749, 7888, 1..."

behavior_1

,No. Comp. in Mixture,Version,ID task,Descriptors
Stimulus,,,,
white,1,1,4-AFC,Coconut;Bitter almond;Butter
white,1,1,5-AFC,Coconut;Fruity;Creamy
white,1,2,4-AFC,Naphthalene;Narcissus;Jasmine
white,1,2,5-AFC,Flowery;naphthalene;medicinal
white,1,3,4-AFC,Banana;Pear Nectar;Cherry Candy

behavior_2

                        Descriptors  P.A.
Stimulus
white                Fruity; citrus  56.2
white                         Lemon  45.9
white                    Grapefruit  40.4
white                        Orange  39.5
white     Fruity; other than citrus  53.7